# Boolean

In [4]:
a = 2
b = 3

In [5]:
a > b

False

In [8]:
is_a_greater = a > b
is_a_greater

False

In [7]:
type(is_a_greater)

bool

In [9]:
report = [ a > b, a < b, a == b ]
report

[False, True, False]

In [10]:
type(report)

list

***
***
# If clauses

## if

In [ ]:
a = 2
b = 3

if a > b:
    print('a is greater than b')

## else

In [ ]:
a = 2
b = 3

if a > b:
    print('a is greater than b')
else:
    print('a is not greater than b')

## elif

In [1]:
a = 2
b = 3

if a > b:
    print('a is greater than b')
elif a == b:
    print('a is equal to b')
elif a < b:
    print('a is smaller than b')

a is smaller than b

***
*__Exercise__*

- Write a program which tell the team should ascend by their points

In [ ]:
Barcelona_win = 3
Manchester_city_win = 2

Barcelona_tie = 1
Manchester_city_tie = 2

# Barcelona_points = 
# Manchester_city_points = 

# if :
#     print('')
# elif :
#     print('')
# elif :
#     print('')

***
***
# Loops

## for

In [2]:
for x in [0,1,2,3,4]:
    print(x)

0
1
2
3
4

In [25]:
for x in ['Hundred','Thousand','Million']:
    for y in [1,2,3,4,5,6,7,8,9]:
        print(y,x)

1 Hundred
2 Hundred
3 Hundred
4 Hundred
5 Hundred
6 Hundred
7 Hundred
8 Hundred
9 Hundred
1 Thousand
2 Thousand
3 Thousand
4 Thousand
5 Thousand
6 Thousand
7 Thousand
8 Thousand
9 Thousand
1 Million
2 Million
3 Million
4 Million
5 Million
6 Million
7 Million
8 Million
9 Million

***
*examples*

In [21]:
total_sum = 0
for num in [1,3,5,7,9]:
    total_sum += num
    
total_sum

25

In [20]:
poem_words = ['To','Khod','Hejab','Khodi','Hafez']
poem_verse = ''

for word in poem_words:
    poem_verse = poem_verse + word + ' '

poem_verse

'To Khod Hejab Khodi Hafez '

***
**Exercise**

- Write a program which shows elements greater than a specific number

In [ ]:
given_list = [14,25,13.4,3,22,45]
specific_num = 10

# = []

for # :
    if ### :
        # Do something
# report_list

***
*Notes*

- *Get familiar with __range__*

In [11]:
for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [13]:
even_nums = []

start = 0
end = 10
step = 2

for j in range(start,end,step):
    even_nums.append(j)

even_nums

[0, 2, 4, 6, 8]

***
## while

We use when we do not know how many times the loop should repeat!?

In [27]:
count = 0
while count < 13:
    count = count + 1
#     count += 1

print(count)

13

***
*examples*

- Find number of twos in a number

In [34]:
given_num = 24
num_of_two = 0

while given_num%2 == 0:
    num_of_two = num_of_two + 1
    given_num = given_num / 2

num_of_two

3

In [35]:
given_num = 24
num_of_two = 0

while given_num%2 == 0:
    num_of_two += 1
    given_num /= 2

num_of_two

3

- Find the first index of a character occurance in a string

In [32]:
desired_char = 'a'
given_string = 'Ney Hadith Rah Por Khon Mi Konad'

index = 0
not_found = True

while not_found:
    if given_string[index] == desired_char:
        not_found = False
    else:
        index = index + 1
index

4