# Numbers

In [10]:
a = 3 * 3
b = 2**3
c = 2 + 3 * 4

print(a,b,c)

9 8 14

In [13]:
type(a)

int

In [19]:
d = 4.5 * 2
d

9.0

In [20]:
type(d)

float

***
*Operators on Numbers*

    >, <, >=, <=, ==

In [21]:
a > b

True

In [22]:
a < b

False

In [23]:
a != b

True

***

*Notes*

In [35]:
d = 9.0
int(d)
d

9.0

- Question 1

In [29]:
type(d)

float

- Answer 1

In [37]:
d = int(d)
type(d)
d

9

<img src="replace.png" alt="Drawing" style="width: 600px;" align = "left"/>

In [40]:
float(b)

8.0

In [41]:
int(-4.5)

-4

<img src="objects.png" alt="Drawing" style="width: 600px;" align = "left"/>

***
***

# Strings

*Description*

In [47]:
name = 'Hafez'
name_copy = "Hafez"

print(name,name_copy)

Hafez Hafez

In [48]:
# type(name)
type(name_copy)

str

In [49]:
'Hafez' + ' Shirazi' + ' Rend'

'Hafez Shirazi Rend'

In [56]:
name[2]

'f'

In [61]:
name[2:5] # [2,5)
name[:2]

'Ha'

***
*Methods*

In [63]:
name.upper()

'HAFEZ'

In [64]:
name.lower()

'hafez'

In [66]:
name_self ='Hafez Shirin Sokhan'
name_self

'Hafez Shirin Sokhan'

In [71]:
name_self.count('f')

1

In [82]:
name_self = 'Hafez rend'
name_self.find('e')

3

In [86]:
'Molana'.find('z')

-1

***
*Notes*

In [79]:
'Hafez '* 4

'Hafez Hafez Hafez Hafez '

In [18]:
print('1' + '2', 1 + 2)

12 3

- Question 2

In [80]:
'Hafez shirazi' - 'shirazi'

TypeError: unsupported operand type(s) for -: 'str' and 'str'

# Lists

*Description*

In [105]:
list_one = [1,2,3,4]
list_half = [3,d,name_self,name,'Shahryar']
list_two = [1,'2','3',4,'Molavi']

# print(list_one,list_two,list_half)

[1, 2, 1, 2]

In [88]:
type(list_one)

list

In [90]:
list_half[4]

'Shahryar'

In [91]:
list_one[2] = 13
list_one

[1, 2, 13, 4]

*Tricks*

In [94]:
list_three = [ list_one , list_two , 3]
list_three

[[1, 2, 13, 4], [1, '2', '3', 4, 'Molavi'], 3]

In [93]:
list_three[0]

[1, 2, 13, 4]

In [108]:
list_three[0]

[1, 2, 13, 4]

In [109]:
[ [1,2,3] ]*10

[[1, 2, 3],
 [1, 2, 3],
 [1, 2, 3],
 [1, 2, 3],
 [1, 2, 3],
 [1, 2, 3],
 [1, 2, 3],
 [1, 2, 3],
 [1, 2, 3],
 [1, 2, 3]]

***
*Methods*

In [111]:
list_one.append(3)
list_one

[1, 2, 3, 4, 3]

In [112]:
list_one.sort()
list_one

[1, 2, 3, 3, 4]

In [122]:
# list_two.reverse()
list_two.sort()

TypeError: '<' not supported between instances of 'int' and 'str'

In [117]:
list_two.pop(3) #removes by index
list_two

['Molavi', 4, '3', 1]

In [121]:
list_one.remove(3) #removes by value
list_one

ValueError: list.remove(x): x not in list

In [127]:
azab_vejdan = ['a','b','c','d']
javabesh = azab_vejdan.sort()
print(javabesh)

None

- Find the method which adds one list to the end of another!

    example:

        input -> [-100,-90],[90,100]

        output -> [-100,-90,90,100]
    
    solution:

        list_one.????(list_two)

In [129]:
list_two.append(list_one)
list_two

['Molavi', 4, '3', 1, [1, 2, 4]]

In [130]:
list_one + list_two

[1, 2, 4, 'Molavi', 4, '3', 1, [1, 2, 4]]

In [132]:
list_1 = [-100,-90]
list_2 = [90,100]
list_1.extend([99,199])
list_1

[-100, -90, 99, 199]

In [137]:
list_1.insert(2,[2,4])
list_1

[-100, -90, [2, 4], [2, 4], 99, 199]

***
*Notes*

In [154]:
a = [2,3]
b = a.copy()
b

[2, 3]

In [155]:
a[0] = 1
a

[1, 3]

In [156]:
b

[2, 3]

<img src="memory_same_assignment.png" alt="Drawing" style="width: 600px;" align = "left"/>

In [141]:
c = 4
d = c
d

4

In [143]:
type(c),type(d)

(int, int)

In [144]:
c = 2
c

2

In [145]:
d

4

# Tuples

*Description*

In [157]:
tuple_one = (1,2,3,4)
tuple_one

(1, 2, 3, 4)

In [159]:
tuple_one[0]

2

***
*Notes*

In [160]:
tuple_one[2] = 10

TypeError: 'tuple' object does not support item assignment

In [165]:
test_list = list(tuple_one)
test_list.reverse()
test_list

[4, 3, 2, 1]

***
# Dictionaries

*Description*

    { key1 : value1 , key2 : value2 , ...}
    
   keys can be string, tuple, numbers *but not lists*
   
   values can be any objects

In [180]:
iranian_lit = {'Hafez':'Divan Hafez','Molana':['Masnavi Manavi'],'Nezami':'Leili Majnoon'}
iranian_league = {'Esteghlal':['Farhad Majidi','Mojtaba'],'Teraktor':['Dejagah','Ando']}
authors = {'hafez','dastayovski','goteh'}

In [181]:
iranian_lit['Nezami']

'Leili Majnoon'

In [182]:
iranian_lit[0]

KeyError: 0

In [183]:
iranian_lit['Molana'].append('Divan Shams')
iranian_lit['Molana']

['Masnavi Manavi', 'Divan Shams']

***
*Methods*

In [35]:
iranian_lit.keys()

dict_keys(['Hafez', 'Molana', 'Nezami'])

In [36]:
iranian_lit.values()

dict_values(['Divan Hafez', ['Masnavi Manavi', 'Divan Shams'], ['Leili Majnoon', '7 Peykar']])

In [184]:
iranian_lit['Attar'] = 'asrar name'

In [185]:
iranian_lit

{'Hafez': 'Divan Hafez',
 'Molana': ['Masnavi Manavi', 'Divan Shams'],
 'Nezami': 'Leili Majnoon',
 'Attar': 'asrar name'}

In [192]:
iranian_lit['Nezami'] = ['Leili o majnoon']
iranian_lit['Nezami']

['Leili o majnoon']